node_modules

coverage

# 忽略使用WebStorm开发时，生成的缓存文件夹
.idea

# 忽略 vscode 工作区间配置
.vscode

# 忽略macos隐藏文件夹目录属性
.DS_Store

# 本地配置
env.local.json
env.local.js

# 忽略可能生成的 dist 目录
dist/

# 忽略npm管理相关的 log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*