.react-conf-form-button-row-wrapper {
  border-top: 1px solid #d9d9d9;
  padding-top: 16px;
}

.react-conf-form-button-space-between {
  display: inline-block;
}

.react-conf-form-button-wrapper {
  /*display: flex;
  justify-content: center;*/
  padding-top: 16px;
  border-top: 1px solid #dce0e4;
}

.vertical {

}

.horizontal {
  .ant-row {
    display: flex;

    & .ant-form-item-label {
      flex-grow: 0;
      flex-shrink: 0;
    }

    & .ant-form-item-control,
    & .ant-form-item-control-wrapper {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}



